[submodule "broken-systems/database-performance/01-employee-directory"]
	path = broken-systems/database-performance/01-employee-directory
	url = git@github.com:br-lazy-bird/database-performance-01-employee-directory.git
[submodule "broken-systems/asynchronous-patterns/01-product-catalog"]
	path = broken-systems/asynchronous-patterns/01-product-catalog
	url = git@github.com:br-lazy-bird/asynchronous-patterns-01-product-catalog.git
[submodule "broken-systems/response-time-optimization/01-content-delivery"]
	path = broken-systems/response-time-optimization/01-content-delivery
	url = git@github.com:br-lazy-bird/response-time-optimization-01-content-delivery.git
[submodule "broken-systems/database-performance/02-orders-reports"]
	path = broken-systems/database-performance/02-orders-reports
	url = git@github.com:br-lazy-bird/database-performance-02-orders-reports.git
